Repository JeffyMesquita/workout-timer-api, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-username, @senior-dev, @devops-team, @security-team, @docs-team, @database-team

.github/CODEOWNERS:

# Code Owners for Workout Timer API

# Global owners
* @your-username

# Domain layer (critical business logic)
src/domain/ @your-username @senior-dev

# Infrastructure layer (database, external services)
src/infrastructure/ @your-username @devops-team

# Security sensitive files
src/infrastructure/auth/ @your-username @security-team
*.yml @your-username @devops-team
*.yaml @your-username @devops-team
Dockerfile @your-username @devops-team
docker-compose*.yml @your-username @devops-team

# CI/CD workflows
.github/workflows/ @your-username @devops-team

# Documentation
*.md @your-username @docs-team

# Configuration files
eslint.config.mjs @your-username
.prettierrc @your-username
jest.config.js @your-username
tsconfig*.json @your-username

# Database schema
prisma/schema.prisma @your-username @database-team

feat: add EditorConfig, gitattributes and comprehensive editor setup
  .editorconfig
  .gitattributes
  .gitignore
  .prettierrc
  EDITOR_SETUP.md
  package.json
Owners: @your-username, @docs-team

fix: simplify GitHub Actions workflows to resolve failures
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/monitoring.yml
  .github/workflows/security.yml
Owners: @your-username, @devops-team

fix: add simplified workflows and troubleshooting guides for GitHub Actions
  .github/workflows/basic-ci.yml
  .github/workflows/simple-test.yml
  .gitignore
  GITHUB_ACTIONS_TROUBLESHOOTING.md
  package.json
  scripts/ci-local.ps1
  scripts/ci-local.sh
Owners: @your-username, @devops-team, @docs-team

fix: add comprehensive CI/CD fixes and troubleshooting documentation for GitHub Actions workflows
  CI_CD_FIXES.md
  GITHUB_ACTIONS_TROUBLESHOOTING.md
Owners: @your-username, @docs-team

fix: resolve pnpm version conflicts in GitHub Actions workflows
  .github/workflows/basic-ci.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/security.yml
  .github/workflows/simple-test.yml
  package.json
Owners: @your-username, @devops-team

fix: configure test environment variables and separate unit tests from integration tests
  .github/workflows/basic-ci.yml
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/simple-test.yml
  .husky/pre-commit
  .prettierrc
  CI_CD_FIXES.md
  GITHUB_ACTIONS_TROUBLESHOOTING.md
  jest.config.js
  jest.setup.js
  package.json
Owners: @your-username, @devops-team, @docs-team

feat: configure sequential workflow execution with dependencies
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/monitoring.yml
  .github/workflows/security.yml
  WORKFLOW_SEQUENCE.md
Owners: @your-username, @devops-team, @docs-team

feat: update dependencies and enhance API documentation
  BACKEND_APP_INTEGRATION_GUIDE.md
  FINAL_SUMMARY.md
  INSOMNIA_SETUP_GUIDE.md
  WORKFLOW_SEQUENCE.md
  insomnia-collection.json
  package.json
  pnpm-lock.yaml
  src/infrastructure/database/repositories/prisma-exercise-execution.repository.ts
  src/infrastructure/database/repositories/prisma-exercise.repository.ts
  src/infrastructure/database/repositories/prisma-set.repository.ts
  src/infrastructure/database/repositories/prisma-workout-plan.repository.ts
  src/infrastructure/database/repositories/prisma-workout-session.repository.ts
  src/main.ts
  src/presentation/auth.controller.ts
  src/presentation/workout-plan.controller.ts
Owners: @your-username, @docs-team, @devops-team

feat: remove outdated documentation files and streamline project structure
  API_DOCUMENTATION.md
  BACKEND_APP_INTEGRATION_GUIDE.md
  CI_CD_GUIDE.md
  CI_CD_SUMMARY.md
  COMMIT_INSTRUCTIONS.md
  COMPLETE_API_GUIDE.md
  DOMAIN_MODEL.md
  EDITOR_SETUP.md
  FINAL_IMPLEMENTATION_SUMMARY.md
  FINAL_SUMMARY.md
  INSOMNIA_SETUP_GUIDE.md
  README.md
  TESTING.md
  WEIGHT_TRACKING_API.md
  WORKFLOW_SEQUENCE.md
  insomnia-workspace.json
Owners: @your-username, @docs-team
